# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Variables de entorno / secretos
.env
.env.*

# Caché y logs
.cache/
logs/

# Comprimidos generales
*.zip
*.tar.gz

# Estos archivos forman parte del despliegue
!datos_1.tar.gz
!datos_2.tar.gz
!datos_3.tar.gz
